.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 2;
  color: #000;
}

.edit__enabled {
  visibility: visible;
}

.edit__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.edit__window {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  max-height: 80%;
  overflow-y: auto;
  z-index: 2;
}

.edit__window-title {
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.edit__close {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
  align-self: center;
  bottom: 150px;
  background-color: black;

}

.edit__close-enabled {
  visibility: visible;
}

.edit__close:hover {
  opacity: 0.7;
}

.edit__window-form {
  display: flex;
  flex-direction: column;
}

.edit__window-form-input {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
}

.edit__window-form-button {
  background-color: #010810;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 15px;
}

.edit__window-form-button:hover {
  opacity: 0.7;
}

.edit__window-error {
  color: red;
}

.edit__window-form-input:focus {
  outline: none;
  border-bottom-color: #007DFF;
}

.edit__window-form-input:invalid {
  border-bottom: 1px solid red;
}

.edit__window-form-input:valid {
  border-bottom: 1px solid green;
}

.button_inactive {
  opacity: 0.7;
}


@media screen and (max-width: 500px) {
  .edit__window-title {
    font-size: 1.2rem;
  }
  .edit__window-form-input {
    font-size: 0.8rem;
  }
}