.content{
  color: #fff;
}

.content__explorer{
  display: flex;
  padding: 45px 0;
}

.content__explorer-info{
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  width: 47%;
}

.content__explorer-info-top{
  display: flex;
  align-items: end;
}

.content__explorer-name{
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: Inter;
  font-size: 2vw;
  font-weight: 500;
  line-height: 4vw;
  text-align: left;
  margin-bottom: 0;

}

.content__explorer-edit-enable{
  background: url('../images/editar.png') center no-repeat;
  background-color: #000;
  border-color: #fff;
  border-style: solid;
  border-width: 2px;
  height: 2vw;
  width: 10%;
  margin-bottom: 2%;
  font-family: Inter;
  font-weight: 400;
}

.content__explorer-edit-enable:hover{
  opacity: 70%;
  cursor: pointer;
}

.content__explorer-job{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  font-size: 1.5vw;
}

.content__explorer-image-image{
  padding-right: 2.5%;
  width: 10vw;
}

.content__explorer-image {
  padding-right: 2.5%;
  width: 10vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  
}

.content__explorer-image::before {
  /* background-image: url('../images/Avatar.png'); */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: 1;
  transition: opacity 0.3s ease; /*Efecto de transicion*/
  border-radius: 50%;
}

.content__explorer-image-button {
  background: url('../images/editar.png') center no-repeat;
  background-size: 30%;
  height: 100%;
  width: 100%;
  border: none;
  opacity: 0;
  position: relative;
  z-index: 2;
}

.content__explorer-image:hover::before {
  opacity: 0.5;
}

.content__explorer-image-button:hover {
  opacity: 1;
  cursor: pointer;
}

.content__explorer-image.new-background::before {
  background-image: url('../images/Avatar.png');
}

.content__explorer-add-enable{
  color: #fff;
  background-color: #000;
  border-color: #fff;
  border-style: solid;
  border-width: 2px;
  font-size: 2rem;
  margin-left: auto;
  margin-top: 35px;
  height: 50px;
  width: 17%;
}

.content__explorer-add-enable:hover{
  opacity: 70%;
  cursor: pointer;
}

.edit__window-error{
  font-size: 0.8rem;
  padding-top: 2%;
  padding-left: 3%;
}


@media screen and (max-width: 800px) {
  .content__explorer-name,.content__explorer-job{
    font-size: 3vw;
  }
}
.content__explorer-edit-enable{
  height: 3.5vw;
  width: 5vw;
  margin-bottom: 0;
}
.content__explorer-add-enable{
  margin-top: 25px;
}


@media screen and (max-width: 600px) {

  .content__explorer-image{
    width: 100px;
    height: 100px;
  }
  .content__explorer-image-image{
    width: 40vw;
  }
  .content__explorer-image-button {
    width: 100px;
  }

  .content__explorer-info-top{
    height: 10vw;
  }
  .content__explorer-name{
    font-size: 6vw;
  }

  .content__explorer-edit-enable{
    height: 6vw;
    margin-bottom: 0;
  }

  .content__explorer{
    flex-direction: column;
    margin-left: 0;
    align-items: center;
    width: 100%;
  }

  .content__explorer-info{
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .content__explorer-job{
    font-size: 4vw;
  }

  .content__explorer-add-enable{
    width: 50%;
    margin-right: 20%;
  }

}