.header{
  color: #fff;
}

.header__title{
  padding-top: 45px;
  height: 33px;
  border: solid;
  border-width: 0 0 1px 0;
  padding-bottom: 35px;
}

.header__title img{
  width: 173px;
}


@media screen and (max-width: 600px) {
  .header__title{
    margin-left: 10%;
    padding-top: 45px;
    height: 33px;
    width: 80%;

  }

  .header__title img{
    width: 173px;
  }
}